# Ignore Python cache
__pycache__/
*.py[cod]

# Ignore data/model files
*.pkl
*.zip
*.npy

# Ignore virtual environments
venv/
env/
comed-env/

# Ignore artifacts
data/raw/*
data/raw_unzipped/*
data/processed/*
models/*
